<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:replace="base :: aside"></aside>

<div class="content-main-form">
    <div class="content-form-mov">
        <div class="header-index">
            <h2 class="title-form-h2">Sistema de Gestión de Empresas</h2>
        </div>
        <div class="sub-title">
            <h3>Empresas</h3>
        </div>

        <br>
        <form th:action="@{/{id}/editar/empresa(id=${empresas.id})}" th:object="${empresas}" method="post" class="area-form-edt-empr" >
            <div class="text-nuevo-mov-din"><h2 class="nuevo-mov-title">Modificar empresa</h2></div>

            <div class="text-campos-1">
                <label for="nombre" class="label">Nombre </label>
                <input id="nombre" type="text" placeholder=" " th:field="*{nombre}" class="input" th:errorClass="is-invalid">
                <!--                <div th:if="${#fields.hasErrors('concepto')}" th:errors="*{concepto}" class="invalid-feedback"></div>-->
            </div>

            <div class="text-campos-2">
                <label for="nit" class="label">Nit </label>
                <input id="nit" type="text" placeholder=" " th:field="*{nit}" class="input" th:errorClass="is-invalid">
                <!--                <div th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}" class="invalid-feedback"></div>-->
            </div>

            <div class="text-campos-3">
                <label for="direccion" class="label">Dirección </label>
                <input id="direccion" type="text" placeholder=" " th:field="*{direccion}" class="input" th:errorClass="is-invalid">
                <!--                <div th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}" class="invalid-feedback"></div>-->
            </div>

            <div class="text-campos-4">
                <label for="telefono" class="label">Teléfono </label>
                <input id="telefono" type="text" placeholder=" " th:field="*{telefono}" class="input" th:errorClass="is-invalid">
                <!--                <div th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}" class="invalid-feedback"></div>-->
            </div>

            <div class="text-campos-5">
                <label for="fechaCreacion" class="label">Fecha </label>
                <input id="fechaCreacion" type="date" th:field="*{fechaCreacion}" class="input" th:errorClass="is-invalid">
                <!--                <div th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}" class="invalid-feedback"></div>-->
            </div>

            <div class="bt-guardar-form-mov">
                <input type="submit" class="btn-guardar" value="Guardar">
            </div>

        </form>
    </div>
</div>

<footer th:replace="base :: footer"></footer>
</body>
</html>